:root {
  --primary-brand: #358faa;
  --alert: #FF006C;
  --neutral-dark: #212121;
  --neutral-med: #757575;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--neutral-dark);
  color: var(--neutral-med);
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
}

img,
video {
  width: auto;
}


h1, h2, h3, h4, h5 {
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1, h2 {
  font-family: "Josefin Sans", sans-serif;
}

.np-heading:not(.chonky) h1:after,
.np-heading:not(.chonky) h2:after,
.np-heading:not(.chonky) h3:after {
  background: var(--primary-brand);
  content: " ";
  display: block;
  height: 5px;
  margin: 1rem auto 0.5rem;
  width: 140px;
}

/*.np-outline-text {
  text-shadow: -1px -1px 0 #777, 1px -1px 0 #777, -1px 1px 0 #777, 1px 1px 0 #777;
}*/

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a.inline-link:before,
nav a:before,
footer a:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: var(--alert);
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

a.inline-link:hover:before,
nav a:hover:before,
footer a:hover:before {
  transform-origin: left;
  transform: scaleX(1);
}

hr {
  border: 0;
  display: block;
  position: relative;
  background: repeating-linear-gradient(90deg, var(--primary-brand) 0, var(--primary-brand) 2px, transparent 2px, transparent 8px);
  height: 14px!important;
  margin: 14px auto!important;
  max-height: none;
  width: 100%;
}

blockquote em {
  display: inline-block;
  padding-top: 1rem;
}

[data-name='columnedContent']:not(.bg-white) strong,
[data-name='columnedContent']:not(.bg-white) h1,
[data-name='columnedContent']:not(.bg-white) h2 {
  color: #FFFFFF;
}


/** Slider **/

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  .accordion-open {
    @apply visible max-h-[1400px] opacity-100
  }

  .np-transition {
    @apply transition-all ease-in-out duration-[0.5s];
  }

  .np-transition-slow {
    @apply transition-all ease-in-out duration-[1s];
  }

  .np-dot {
    @apply np-transition bg-np-blue group-hover:shadow-[0.1rem_0.1rem_0_rgba(255,0,108,1)] h-1 rounded-full w-1;
  }

  .np-button {
    @apply bg-[rgba(53,143,170,1)] bg-[rgba(48,127,151,1)];
  }

  .np-hover {
    @apply bg-[rgba(255,0,108,1)]
  }
  
  .np-panel {
    @apply bg-[#212121]
  }

  .np-light-text {
    @apply text-[#989898]
  }

  .np-text {
    @apply text-[rgba(48,127,151,1)];
  }
}


@import url(icons.css)