* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: #212121;
  color: #777777;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
}



h1, h2, h3, h4, h5 {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.np-heading:not(.chonky) h1:after,
.np-heading:not(.chonky) h2:after {
  background: /*#ff006c;*/#358faa;
  content: " ";
  display: block;
  height: 5px;
  margin: 1rem auto 0.5rem;
  width: 140px;
}

a {
  color: inherit;
  text-decoration: none;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .np-transition {
    @apply transition-all ease-in-out duration-500;
  }

  .np-breakout {
    margin:1em -100%; /* old browsers fallback */
    margin:1em calc(50% - 50vw)!important;
    background-color:rgba(255,0,255,0.5)
  }

  .np-button {
    @apply bg-[/*rgba(48,127,151,1)*/rgba(53,143,170,1)];
  }

  .np-hover {
    @apply bg-[rgba(255,0,108,1)]
  }

  .np-panel {
    @apply bg-[#212121]
  }
}


@import url(icons.css)